{% extends "layouts/base.html" %}

{% load static %}

{% block content %}

<div class="login-page">

    <div class="login-card">

        <img src="{% static 'images/menro.png' %}"
             class="login-logo"
             alt="MENRO Logo">

        <h2>MENRO ONLINE</h2>

        <h5>REPORTING SYSTEM</h5>

        <p class="login-subtitle">
            Manila Bay Clean-Up Rehabilitation and Preservation Program
        </p>

        <form method="post">

            {% csrf_token %}

            <div class="mb-3">

                <label class="form-label">
                    Username
                </label>

                {{ form.username }}

            </div>

            <div class="mb-4">

                <label class="form-label">
                    Password
                </label>

                {{ form.password }}

            </div>

            <button class="btn btn-success w-100 login-btn">

                <i class="bi bi-box-arrow-in-right"></i>

                Login

            </button>

        </form>

    </div>

</div>

{% endblock %}